@import './molecules/header.scss';
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: "karrik";
  src: url("../static/fonts/Karrik-Regular.woff") format("woff");
}

:root {
	--primary: #0e0ea0;
  --primary-lighter: #4f4f9e;
  --primary-darker: #090954;
	--secondary: #ff0000;
  --secondary-lighter: #ff8080;
  --secondary-darker: #7f0000;
	--background: #f2f2f2;

  --transition: .2s ease;
  --maxWidth: 1360px;

  --pad: 1rem;
  --gut: 1rem;
  --gutneg: -2.8rem;

}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Capriola', sans-serif;
  font-size: 20px;
  color: var(--primary);
}

.light{
  color: var(--background) !important;
}

.dark{
  color: var(--primary) !important;
}

a{
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition);
}

a:hover{
  color: var(--secondary);
}

em{
  font-style: normal;
}

body {
	background-color: var(--background);
  overflow-x: hidden;
}

body.home header em a,
body.home header nav ul li a,
body.about header em a,
body.about header nav ul li a{
  color: var(--background);
}

body header em a,
body header nav ul li a{
  color: var(--primary);
}

header nav ul li a{
  font-size: .8rem;
  color: var(--background);
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

main{
  width: 100%;
  min-height: 100vh;
}

main > h1{
  padding: 2em 0 0;
  margin: 0;
}

/* Home */

main.home{

}

main.home .hero{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

main.home .hero h2{
  padding: 0 2%;
  text-align: center;
}

main.home .hero h2 p{
  font-size: 1rem;
  color: var(--background);
}

.projects-list{
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.projects-list .project,
.navigation .project{
  width: 96%;
  position: relative;
  flex: 0 0 auto;
  margin: 2% 2% 0;
}

.projects-list .project a{
  max-width: 100%;
  width: 100%;
  color: var(--background);
  text-align: center;
}

.projects-list .project a img,
.navigation .project a img{
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}


.projects-list .project a.full-link,
.navigation .project a.full-link{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: transparent;
}

.projects-list .project p.date,
.projects-list .project p.tags,
.navigation .project p.date,
.navigation .project p.tags{
  position: absolute;
  top: 10px;
  margin: 0;
  opacity: 0;
  color: var(--background);
}

.projects-list .project p.date,
.navigation .project p.date{
  right: 10px;
}

.projects-list .project p.tags,
.navigation .project p.tags{
  left: 10px;
  z-index: 3;
}

.projects-list .project p.tags .tag{
  background: var(--background);
}

.projects-list .project p.tags .tag,
.navigation .project p.tags .tag{
  border-radius: 25px;
  padding: 0 10px;
  z-index: 3;
}

.projects-list .project h3,
.projects-list .project::before,
.navigation .project h3,
.navigation .project::before{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.projects-list .project::before,
.navigation .project::before{
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary-lighter);
  transition: var(--transition);
  opacity: 0;
}

.projects-list .project:hover p,
.projects-list .project:hover::before,
.navigation .project:hover p,
.navigation .project:hover::before{
  opacity: 1;
}

.projects-list .project:hover h3,
.navigation .project:hover h3{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0;
  opacity: 1;
}

/* Project page */

main.project{
  margin-top: 4em;
}

.project article p.tags .tag{
  background: var(--secondary);
  color: var(--background);
  border-radius: 25px;
  padding: 0 10px;
  z-index: 3;
}

.project article .gallery .project-images{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--maxWidth);
  overflow-x: scroll;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 20px 0;
}
.project article .gallery .project-images::-webkit-scrollbar {
  width: 20px;
  margin: 10px;
}

.project article .gallery .project-images::-webkit-scrollbar-track {
  background-color: var(--primary);

}

.project article .gallery .project-images::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

.project article .gallery .project-images img{
  max-width: 300px;
}

.project .navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project .navigation h3{
  width: 100%;
}

.project .navigation article{
}

/* About */

body.about{
  background: var(--primary);
}

body.about h1{
  display: none;
}

body.about main p{
  color: var(--background);
}

body.about footer{
  background-color: var(--background);
  color: var(--primary-lighter);
}

/* */

main:not(.home){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main.page p{
  width: 90%;
  text-align: center;
}

/* Contact Form */

body.contact main > p {
  padding-top: 6em;
}

form {
  padding: 2em 0 4em 0;
  display: grid;
  width: 90%;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

/* Footer */

footer{
  width: 100vw;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary-lighter);
  color: var(--background);
  margin-top: 10px;
}

footer small{
  font-size: .5rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
}

@media (min-width:750px) {
  :root{
    --pad: 2.5rem;
    --gut: 2.8rem;
  }

  .navigation .project,
  .projects-list .project{
    width: 46%;
  }

  main.home .hero h2 p{
    font-size: 3rem;
  }

  main{
    min-height: 100vh;
  }

  main.page p{
    width: 66%;
  }

  main > h1{
    padding: 4em 0 0;
  }

  form{
    width: 66%;
  }

  .project article .gallery .project-images img{
    max-width: 500px;
  }

}

@media (min-width:950px) {
  .navigation .project,
  .projects-list .project{
    width: 29%;
  }
}


@media (min-width: 2351px){
  :root{
    --pad: 6rem;
    --gut: 3.2rem;
    --gutneg: -3.2rem;
  }
}
