@import './molecules/header.scss';
@import './molecules/projectList.scss';
@import './molecules/footer.scss';
@import './layouts/home.scss';
@import './layouts/about.scss';
@import './layouts/projectPage.scss';

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: "karrik";
  src: url("../static/fonts/Karrik-Regular.woff") format("woff");
}

:root {
	--primary: #0e0ea0;
  --primary-lighter: #4f4f9e;
  --primary-darker: #090954;
	--secondary: #ff0000;
  --secondary-lighter: #ff8080;
  --secondary-darker: #7f0000;
	--background: #f2f2f2;

  --transition: .2s ease;
  --maxWidth: 1360px;

  --pad: 20px;
  --gut: 20px;
  --gutneg: -20px;

}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Capriola', sans-serif;
  font-size: 20px;
  color: var(--primary);
}

.light{
  color: var(--background) !important;
}

.dark{
  color: var(--primary) !important;
}

a{
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition);
}

a:hover{
  color: var(--secondary);
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

em{
  font-style: normal;
}

body {
	background-color: var(--background);
  overflow-x: hidden;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

main{
  width: 100%;
  min-height: 100vh;
}

main > h1{
  padding: 2em 0 0;
  margin: 0;
}

/* */

main:not(.home){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main.page p{
  width: 90%;
  text-align: center;
}

/* Contact Form */

body.contact main > p {
  padding-top: 6em;
}

form {
  padding: 2em 0 4em 0;
  display: grid;
  width: 90%;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

/* Footer */



@media (min-width:750px) {
  :root{
    --pad: 40px;
    --gut: 40px;
  }

  main {
    min-height: 100vh;

    & h1 {
      padding: 4em 0 0;
    }

    &.page {
      p {
        width: 66%;
      }
    }
  }

  form{
    width: 66%;
  }
}

@media (min-width: 2351px){
  :root{
    --pad: 50px;
    --gut: 50px;
    --gutneg: -50px;
  }
}
