<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{{ section }} {% for tag in tags %}{%if tag != section%}{{ tag }} {% endif %}{% endfor %}">

		<header>
			<div class="logo-container">
				<a href="{{ '/' | url }}" id="logo">{{ metadata.title }}</a>
			</div>

			<nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
        {%- for entry in navPages %}
          {% if entry.visible %}
            <li>
              <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
            </li>
          {% endif %}
        {%- endfor %}
        </ul>
    </nav>
		</header>

		<main class="{{ section }} {% for tag in tags %}{%if tag != section%}{{ tag }} {% endif %}{% endfor %}">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
